# Task1 
Create a variable named x, and assign it a value of 20.

In [ ]:
x=20

# Task2
Create two variables named x and y, and assign them with values 10 and 20 respectively.

In [1]:
 x,y=10,20

# Task3 
Create a variable named x which is assigned a value of 'apple'. Print the variable x to standard output.

In [2]:
x='apple'
print(x)

apple

# Task4
Assign variable x with 10, and variable y with 20. Find their sum and assign the result to a variable z. Then print the variable z.

In [3]:
x,y=10,20
z=x+y
print(z)

30

# Task5
Initialize all the three variables x, y, and z with the same value of 'apple' in a single statement.

In [5]:
x,y,z="apple","apple","apple"

# Task6
What is the built-in function that returns the type of the given value or variable (x or y or z).

In [ ]:
type()

# Task7
Which built-in function is used to read input from user?

In [ ]:
input()

# Task8
Reverse a given string 
str1 = "Amit Learning"

In [7]:
str1 = "Amit Learning"
str1=str1[::-1]

# Task9
split a given string
str2 = "Dema-is-a-data-scientist"

output >> ['Dema', 'is', 'a', 'data', 'scientist']

In [10]:
str2 = "Dema-is-a-data-scientist"
sp=str2.split("-")
print(sp)

['Dema', 'is', 'a', 'data', 'scientist']

# Task10
Join this list['Dema', 'is', 'a', 'data', 'scientist'] 

output >> 'Dema is a data scientist'

In [17]:
lst=['Dema', 'is', 'a', 'data', 'scientist']
str=" ".join(lst)
print(str)

Dema is a data scientist

# Task11
Get the characters:

From: "o" in "World!" 

To, but not included: "d" in "World!"

str1 = "Hello, World!"

In [30]:
str1 = "Hello, World!"
z=str1.find("o")
y=str1.find("d")
str2=str1[z:y]
print(str2)

o, Worl

# Task12
Check if "free" is present in the following text:

txt = "The best things in life are free!"

In [34]:
txt = "The best things in life are free!"
if "free" in txt:
    print("yessss")
else:
    print("noo")

yessss

# Task13
removes any whitespace from the beginning or the end

s = " Hello, World! "

In [35]:
s = " Hello, World! "
s=s.replace(" ","")
print(s)

Hello,World!

# Task14
Replace the character H with J.


txt = "Hello World"

In [38]:
txt = "Hello World"
txt=txt.replace("H","J")
print(txt)

Jello World