# Task1
Write a Python program to add an item to a tuple.

In [3]:
tup=("a","b","c")
lst=list(tup)
lst.append("d")
tup=tuple(lst)
print(tup)

('a', 'b', 'c', 'd')

# Task2
Write a Python program to sum all the items in a list.

In [1]:
lst=[1,2,3,4,5]
sum(lst)

15

# Task3
Write a Python program to multiply all the items in a list.

In [4]:
mult=1
lst=[1,2,3,4,5]
for i in lst:
    mult=mult*i
print(mult)

120

# Task4
Write a Python program to get the smallest number from a list.

In [6]:
lst=[1,2,3,4,5]
minimum=min(lst)
print(minimum)

1

# Task5
Write a Python program to get the largest number from a list.

In [7]:
lst=[1,2,3,4,5]
maxi=max(lst)
print(maxi)

5

# Task6 
Write a Python program to count the number of strings from a given list of 
strings.

In [10]:
lst=["1","2","3","4","5"]
length=len(lst)
print(length)

5

# Task7
Write a Python program to clone or copy a list

In [12]:
lst=[1,2,3,4,5]
lst2=lst.copy()
print(lst2)

[1, 2, 3, 4, 5]

# Task8
Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])

In [36]:
s = set([0, 1, 3, 4, 5])
inp=list(input("enter the item(s) you want to delete ,if you entered 999 the set will be cleared"))
inp=[int(i) for i in inp] 
print(type(inp))
if inp[0] == 999:  
        s.clear()
else:
        for i in inp:
            s.remove(i)
            
s=set(s)
print(s)

enter the item(s) you want to delete ,if you entered 999 the set will be cleared 4

<class 'list'>
{0, 1, 3, 5}

# Task9
Write a Python program to find the maximum and minimum values in a set.

In [39]:
s = set([0, 1, 3, 4, 5])
print(type(s))
maxi=max(s)
print(maxi)

<class 'set'>
5

# Task10
Write a Python program to convert a tuple to a dictionary.

In [47]:
tup=(1,2,3,4)
dic={}
for i in tup:
    dic[str(i)]=i

print(dic)

{'1': 1, '2': 2, '3': 3, '4': 4}

# Task11
Write a Python program to reverse a tuple.

In [50]:
tup=(1,2,3,4)
tup2=tup
tup=tup2[::-1]
print(tup)

(4, 3, 2, 1)

# Task12
Write a Python program to convert a list of tuples into a dictionary

In [55]:
lst=[(1,2),(3,4),(5,6)]
dic={}
for i in range(0,len(lst)):
    dic[f"tuple: {(i+1)}"]=lst[i]
print(dic)

{'tuple: 1': (1, 2), 'tuple: 2': (3, 4), 'tuple: 3': (5, 6)}

# Task13
Write a Python program to replace the last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [61]:
Sample_list=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(0,len(Sample_list)):
    Sample_list[i]=list(Sample_list[i])
    tup=Sample_list[i]
    tup[len(tup)-1]=100
    Sample_list[i]=tuple(Sample_list[i])
print(Sample_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# Task14
Remove the illegal characters in the variable name:

var_name = "%%6student_name$^$%#"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

output is "student_name"

In [64]:
var_name = "%%6student_name^%#"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\;:',.<>/?~"
for i in var_name:
    if i in illegal_chars:
        var_name=var_name.replace(i,'')
print(var_name)

student_name

# Task15
Write a Python program to print the even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    
Expected Output :
    
Number of even numbers : 2,4,6,8
    
Number of odd numbers : 1,3,5,7,9

In [65]:
numbers = list((1, 2, 3, 4, 5, 6, 7, 8, 9))
odd=[i for i in numbers if i%2 != 0]
even=[i for i in numbers if i%2 == 0]
print(odd)
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

# Task16
Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [68]:
for i in range(1,51):
    if i%3 ==0 and i%5 == 0:
        print(f"{i} FizzBuzz")
    elif i%3==0:
        print(f"{i}  Fizz")
    elif i%5==0:
        print(f"{i}  Buzz")

3  Fizz
5  Buzz
6  Fizz
9  Fizz
10  Buzz
12  Fizz
15 FizzBuzz
18  Fizz
20  Buzz
21  Fizz
24  Fizz
25  Buzz
27  Fizz
30 FizzBuzz
33  Fizz
35  Buzz
36  Fizz
39  Fizz
40  Buzz
42  Fizz
45 FizzBuzz
48  Fizz
50  Buzz

# Task17
After you have finished the second session, can you explain briefly what information was learned and also what information you learned through the search?

In [ ]:
## i have learned a lot about python syntaxes and a new tricks for an 1 year experience in python