# Python program to interchange first and last elements in a list

- Examples

- Input : [12, 35, 9, 56, 24]
- Output : [24, 35, 9, 56, 12]

- Input : [1, 2, 3]
- Output : [3, 2, 1]

In [1]:
inpt_list = [12,35,9,56,24]
inpt_list=inpt_list[::-1]
print(inpt_list)

[24, 56, 9, 35, 12]

### Find the Length of a List in Python

- Input: lst = [10,20,30,40]
- Output: 4
- Explanation: The output is 4 because thelength of the list is  4.

In [2]:
lst = [10,20,30,40]
print(len(lst))

4

### Python | Find elements of a list by indices
- Input : lst1 = [10, 20, 30, 40, 50]
-        lst2 = [0, 2, 4]
- Output : [10, 30, 50]

In [3]:
lst1=[10,20,30,40,50]
lst2=[0,2,4]
op=[lst1[i] for i in lst2]
print(op)

[10, 30, 50]

# Python program to find the String in a List

- Input: l=[1, 1.0, 'have', 'a', 'geeky', 'day']; s='geeky'
- Output: True
- Explanation: geeky is present in the input list

In [5]:
l1=[1, 1.0, 'have', 'a', 'geeky', 'day']
x="geeky" in l1
print(x)

True



```
#  hint you can use in
```

- The in keyword is used to check if a value is present in a sequence (list, range, string etc.).

In [5]:
fruits = ["apple", "banana", "cherry"]

## Ways to find indices of value in list


- list of animals
- Animals= ["cat", "dog", "tiger"]
- searching positiion of dog
- output is 1

In [8]:
animals= ["cat", "dog", "tiger"]
x=animals.index("dog")
print(x)

1

### Find most frequent element in a list
- Input : [2, 1, 2, 2, 1, 3]
- Output : 2

- Input : ['Dog', 'Cat', 'Dog']
- Output : Dog

In [16]:
lst1= [2, 1, 2, 2, 1, 3]
lst2= ['Dog', 'Cat', 'Dog']
def max(lst):
    
     max=lst[0]
     for i in range(0,len(lst)):
      for j in range(i+1,len(lst)):
         if lst.count(lst[i]) < lst1.count(lst1[j]):
             max=lst[j]
     return max
print(max(lst1))
print(max(lst2))

2
Dog

- hint you can use max in python

## Remove an Item from the List in Python.
- Input: ['Rose',' Lily', 'Lotus', 'Sun', 'Sunflower']
- Delete: 'Sun'
- Output: ['Rose',' Lily', 'Lotus', 'Sunflower']
- Explanation: In this, we have removed the 'Sun' element from the given list

In [18]:
lst = ['Rose',' Lily', 'Lotus', 'Sun', 'Sunflower']
lst.remove("Sun")
print(lst)

['Rose', ' Lily', 'Lotus', 'Sunflower']

# Remove multiple elements from a list in Python
- Input: [12, 15, 3, 10]
- Output: Remove = [12, 3], New_List = [15, 10]

- Input: [11, 5, 17, 18, 23, 50]
- Output: Remove = [1:5], New_list = [11, 50]

In [24]:
lst1 = [12, 15, 3, 10]
delete=[12,3]
lst1=[i for i in lst1 if i not in delete]
print(lst1)

[15, 10]

In [26]:
lst2 = [11, 5, 17, 18, 23, 50]
delete=lst2[1:5]
lst2=[i for i in lst2 if i not in delete]
print(lst2)

[11, 50]

# python program to check whether the string is Palindrome  and get the str from user

- Input : malayalam
- Output : True

- Input : geeks
- Output : False

In [12]:
txt1 = 'malayalam'

In [31]:
txt1 = 'malayalam'
txt2 = 'geeks'
def palindrome(str):
    return str == str[::-1]
palindrome(txt2)

False

### Reverse Words in a Given String in Python
- Input : str =" geeks quiz practice code"
- Output : str = code practice quiz geeks  
- Input : str = "my name is laxmi"
- output : str= laxmi is name my

In [36]:
inpt_txt1 = "geeks quiz practice code"
s=inpt_txt1 .split()
s=s[::-1]
inpt_txt1 =" ".join(s)
print(inpt_txt1)

code practice quiz geeks

In [37]:
inpt_txt2 = "my name is laxmi"
s=inpt_txt2 .split()
s=s[::-1]
inpt_txt2=" ".join(s)
print(inpt_txt2)

laxmi is name my

### Find length of a string in python
- Input : 'abc'
- Output : 3

- Input : 'hello world !'
- Output : 13

- Input : ' h e l   l  o '
- Output :14

In [16]:
txt = 'abc'
len(txt)

In [38]:
txt = 'hello world !'
len(txt)

13

In [39]:
txt = '   h e l l o  '
len(txt)

14

###  Avoid Spaces in string length


```
- string = "Hello, world!  "
- with space 15
- without space is 12
```

In [43]:
txt = "Hello, world!  "

len(txt.replace(" ",""))

12

-  hint you can use len in python to get len of str or list

# Smallest Length String in the list
- test_list = ['gfg', 'is', 'best', 'for', 'geeks']
- Minimum length string is : is

In [46]:
test_list = ['gfg', 'is', 'best', 'for', 'geeks']
lengths=[len(i) for i in test_list]
mini=test_list[lengths.index(min(lengths))]
print(mini)

is

-  hint you can use min in python