#### Multiply 10 with 5, and print the result.

In [1]:
print(5*10)

50

### Divide 10 by 2, and print the result.

In [2]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [20]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']

In [5]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
if "apple" in fruits:
    print("True")
else:
    print("false")

True

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [7]:
x=5!=10

### Use the correct logical operator to check if at least one of two statements is `True`.

In [ ]:
or

### Print the second item in the fruits list.

In [ ]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
print(fruits[1])

### Change the value from "apple" to "kiwi", in the fruits list.

In [8]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
for i in range(0,len(fruits)):
    if fruits[i] == "apple":
        fruits[i]="kiwi"
print(fruits)

['kiwi', 'cherry', 'bannana', 'watermelon']

### Use the append method to add "orange" to the fruits list.

In [9]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
fruits.append("orange")

### Use the insert method to add "lemon" as the second item in the fruits list.

In [11]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'cherry', 'bannana', 'watermelon']

### Use the remove method to remove `"banana"` from the fruits list.

In [14]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
fruits.remove("bannana")

### Use negative indexing to print the last item in the list.

In [16]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
print(fruits[-1])

watermelon

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [18]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon','lemon']
for i in range(2,5):
    print(fruits[i])

bannana
watermelon
lemon

### Use the correct syntax to print the number of items in the list.

In [19]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
print(len(fruits))

4

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [24]:
numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527
]
for i in numbers:
    if i != 237:
        if i%2==0:
            print(i) 
    else: break

386
462
418
344
236
566
978
328
162
758
918

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [26]:
b=float(input("enter the length of triangle"))
h=float(input("enter the height of triangle"))
print(f"the area is : {0.5*b*h}")

enter the length of triangle 1
enter the height of triangle 2

the area is : 1.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [28]:
numbers=[3,7,8]
numbers=numbers.sort()

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [32]:
def check(seq):
    seq=list(seq)
    for i in range(0,len(seq)):
        for j in range(i+1,len(seq)):
            if seq[i]==seq[j]:
               return False
               break
    return True
print(check([1,2,2,4,5]))

False

#### Dictionary

In [33]:
#Return all keys 
dict1 = {'a': 100, 'b': 200, 'c': 300}
print(dict1.keys())

dict_keys(['a', 'b', 'c'])

In [34]:
#Return all Values
dict1 = {'a': 100, 'a': 200, 'c': 300}
print(dict1.values())

dict_values([200, 300])

In [36]:
#Return a list of tuple
dict1 = {'a': 100, 'a': 200, 'c': 300}
dict1.items()

dict_items([('a', 200), ('c', 300)])

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [38]:
dict={'a': 100, 'b':200, 'c':300}
sum=0
for i in dict.values():
    sum=sum+i
print(sum)

600

### Calculate the sum of all numbers from 0 to a given number

In [40]:
x = int(input('enter a number: '))
sum=0
for i in range(0,x):
    sum=sum+i
print(sum)

enter a number:  10

45

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [41]:
def fact(num):
    fac=1
    for i in range(1,num+1):
        fac=fac*i
    return fac
fact(5)

120

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [46]:
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in range(0,len(my_list)):
    if i%2!=0:
        print(my_list[i], end=" ")

20 40 60 80 100

### len of str in list
### ['apple', 'orange', 'cat']

In [47]:
l = ['apple', 'orange', 'cat']
str=[len(i) for i in l]
print(str)

[5, 6, 3]

### program to count number of vowels using sets in given string

In [48]:
vowels = ['a','e','i','o','u']
string = input('enter a word: ')
count=0
for i in string:
    if i in vowels:
        count+=1
print(count)

enter a word:  ahmed

2


### Write a Python program to add an item to a tuple.

In [49]:
tuple1 = (1,3,5)
item = 10
lst=list(tuple1)
lst.append(item)
tuple1=tuple(lst)

### Write a Python program to multiply all the items in a list.

In [50]:
lst = [1, 3, 5, 2]
sum=1
for i in lst:
    sum=sum*i
print(sum)

30

### Write a Python program to get the smallest number from a list.

In [17]:
lst = [1, 3, 5,1,1000, 2]
print(min(lst))

### Write a Python program to get the largest number from a list.

In [18]:
lst = [1, 3, 5,1,1000, 2]
print(max(lst)

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [19]:
s = set([0, 1, 3, 4, 5])
s = set([0, 1, 3, 4, 5])
inp=list(input("enter the item(s) you want to delete ,if you entered 999 the set will be cleared"))
inp=[int(i) for i in inp] 
print(type(inp))
if inp[0] == 999:  
        s.clear()
else:
        for i in inp:
            s.remove(i)
            
s=set(s)
print(s)

### Write a Python program to find the maximum and minimum values in a set.

In [51]:
set1 = {1,8,4,3,2,6}
print(max(set1))

8

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

enumerate() returns a value and its index in the itterable (value,index)

In [55]:
tuple_1 = ('name','age','city','city')    #output {'name': 0, 'age': 1, 'city': 3}
# values = (1,2,3,4)
dic={}
for i in range(0,len(tuple_1)):
    dic[tuple_1[i]]=i
print(dic)

{'name': 0, 'age': 1, 'city': 3}